body {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;  
	-khtml-user-select: none;   
	-moz-user-select: none;      
	-ms-user-select: none;       
	user-select: none;   
    background-color: rgb(161, 171, 255);
    background-image: url('pic/main_bg.png');
}

a { 
    color: #000000;
    text-decoration: none;
} 

p {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	letter-spacing: 0px;
	word-spacing: 0.2px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}	

textarea {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	letter-spacing: 0px;
	word-spacing: 0.2px;
	color: #2c2c2c;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;

    border-radius: 20px;
    margin: 10px;
	background-color: rgb(161, 171, 255, 0.5);
	padding: 20px;
    /* box-shadow: 5px 5px 15px rgb(123, 114, 255); */
    width: 550px;
    height: 200px;

    resize: none;
}

button {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	letter-spacing: 0px;
	word-spacing: 0.2px;
	color: #2c2c2c;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;

    border: #ffffff;
    border-radius: 20px;
    margin: 10px;
	background-color: rgb(255, 255, 255, 0.7);
	padding: 20px;
    /* box-shadow: 5px 5px 15px rgb(123, 114, 255); */
}

button:hover {
    background-color: rgb(161, 171, 255);
	/* box-shadow: 5px 5px 15px rgb(104, 119, 255); */
}

.update{
    border-radius: 20px;
    /* cursor: pointer; */
    margin: 10px;
    text-align: center;
	background-color: rgb(255, 255, 255, 0.7);
	padding: 20px;
    /* box-shadow: 5px 5px 15px rgb(123, 114, 255); */
    max-width: 800px;
    max-height: 800px;
}
