# Редирект с http на https создан автоматически при заказе бесплатного ssl-сертификата
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

#RewriteEngine On
#RewriteRule ^user$ /main.php [QSA,R]
#RewriteRule ^main.php$ /user [QSA,R]

#RewriteRule ^user\_online /main.php
#RewriteRule ^(.*)/main\.php$ /$user [QSA,R]

# Конец редиректа

